<div>
  Today weather in a beautiful city of <%= weather_presenter.location %> is 
  <%= weather_presenter.temperature %> degrees.
  <%= weather_presenter.description %>
  <img src=<%= weather_presenter.icon %>>
  <em><%=weather_presenter.encourage_text %></em>
</div>